// Inputs
NET "clk" LOC = "B8";
NET "sw0" LOC = "P11";
NET "sw1" LOC = "L3";
NET "sw2" LOC = "K3";
NET "sw3" LOC = "B4";

// Outputs
NET "an[0]" LOC = "F12";
NET "an[1]" LOC = "J12";
NET "an[2]" LOC = "M13";
NET "an[3]" LOC = "K14";

NET "sseg[0]" LOC = "L14";
NET "sseg[1]" LOC = "H12";
NET "sseg[2]" LOC = "N14";
NET "sseg[3]" LOC = "N11";
NET "sseg[4]" LOC = "P12";
NET "sseg[5]" LOC = "L13";
NET "sseg[6]" LOC = "M12";